.card {
    margin: 2%;
    max-width: 320px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

.card-img-top{
    margin: 5%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
}
  
 
  h1 {
      text-align: center;
  }

